@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
    /* Primary */

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    /* Neutral */

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --White: hsl(0,0%,100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.top-container{
    background-color: var(--Very-Pale-Cyan);
    background-image: url('images/bg-hero-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--Very-Dark-Cyan);
    margin: 0;
}
.try-btn{
    background-color: var(--White);
    border: none;
    padding: 10px 50px;
    border-radius: 25px;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
h1,h2{
    font-family: 'Poppins',sans-serif;
    color: var(--Very-Dark-Cyan);
    font-size: 600;
}
button{
    cursor: pointer;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 4em;
    width: auto;
}
.top-logo{
    height: 25px;
}
.main-titles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
}
.main-titles>.img-mockups{
    max-width: 100%;
    max-height: 550px;
    animation: mockups 0.7s;
    margin: auto;
}

.main-content>h1{
    width: 400px;
}
.main-content>p{
    line-height: 1.5;
    max-width: 400px;
    font-size: 14px;
    font-weight: 400;
}
.get-started-btn{
    padding: 10px 45px;
    background-color: var(--Pink);
    border: none;
    border-radius: 20px;
    color: var(--White);
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
}
.mid-container{
    margin: 7em 0;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 3em;
    margin: 40px 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 20px 1px;
}   
.card:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3em;
}
.card>img{
    height: 250px;
}
.card-content{
    width: auto;
    overflow: auto;
}
.card-content>p{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    width: 450px;
}
.mid-card{
    background-color: var(--White);
    border-radius: 10px;
    padding: 3.5em;
    max-width: 550px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-bottom: -80px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 7px 1px inset;
}
.mid-card>.get-started-btn{
    border-radius: 25px;
    padding: 20px;
    width: 300px;
}
footer{
    background-color: var(--Very-Dark-Cyan);
    color: var(--White);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 200px 100px 100px;
    margin: 0;
}
.footer-content{
    padding: 20px 0;
}
.footer-logo{
    height: 20px;
    margin-bottom: 30px;
    margin-left: -20px;
}
ul{
    list-style: none;
    list-style-position:outside;
    line-height: 1.5;
    margin-right: 10px;
}
ul.icon-location{
    list-style-image: url('images/icon-location.svg');
}
ul.icon-call{
    list-style-image: url('images/icon-phone.svg');
}
ul.icon-mail{
    list-style-image: url('images/icon-email.svg');
}

ul>li{
    font-size: 12px;
    width: 250px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: var(--White);
}
a:hover{
    text-decoration: underline;
}
.social .icon{
    height: 25px;
}
ul.logo-content{
      display: flex;
      flex-direction: row;
      cursor: pointer;
}
.cp-rt{
    bottom: -50px;
    font-size: 12px;
}
.get-started-btn:hover{
    background-color: var(--Light-Pink);
}

@keyframes mockups{
    from{
        transform: translateX(20%);
    }
}
@media screen and (max-width: 768px) {
    
    
    .main-titles{
        justify-content: center;
        text-align: center;
    }
    .main-content{
        max-width: 100%;
    }
    .card{
        text-align: center;
    }
    .card>img{
        height: auto; /* for placing the img element within the parent container */
        width: 100%;
        padding: 20px;
    }
    .card-content>p{
        
        width: 100%;
    }
    footer{
        display: block;
        max-width: 100%;
        padding: 100px 50px;
    }
    .footer-content{
        margin-right: auto;
    }
    .social{
        margin: auto;
        text-align: center;
    }
    ul.logo-content{
        margin-left: auto;
        justify-content: center;
    }
    
}